EXPO_PUBLIC_SUPABASE_URL=https://zxezofzrvkwljfdlptue.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4ZXpvZnpydmt3bGpmZGxwdHVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2ODU3MzIsImV4cCI6MjA5MDI2MTczMn0.S2igC5nb8j0BFzz4pSPmwh3xvW84andqWUzKSgRopV8
EXPO_PUBLIC_GEMINI_API_KEY=AIzaSyC7yyRE14FwE_k9mlzGc0R2uAdd-p1m0uw
